.greetmaster-content {
	display: flex;
	flex-direction: column;
}
.greetmaster-greeting-container {
	width: 100%;
	margin-bottom: auto;
	position: relative;
	align-self: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.greetmaster-greeting-min-size {
	max-width: 640px;
	margin-top: 12px;
}
.greetmaster-greeting-max-size,
.greetmaster-greeting-max-size .greetmaster-greeting-content {
	flex-grow: 1;
}
.greetmaster-greeting-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--greetmaster-background-color-3);
	cursor: pointer;
	user-select: none;
	z-index: 99;
	display: flex;
	align-items: center;
	justify-content: center;
}
.greetmaster-greeting-hidden {
	width: 100%;
	height: 320px;
	overflow: hidden;
	visibility: hidden;
}
.greetmaster-greeting-options {
	width: 100%;
	background-color: var(--greetmaster-background-color-4);
	padding: 4px 8px;
	box-sizing: border-box;
	position: sticky;
	bottom: 0;
	display: flex;
}
.greetmaster-greeting-options-button {
	color: #fff;
	text-decoration: none;
	user-select: none;
}
.greetmaster-greeting-options-button:hover {
	text-decoration: underline;
	cursor: pointer;
}
.greetmaster-greeting-options-left,
.greetmaster-greeting-options-right {
	min-width: 200px;
}
.greetmaster-greeting-options-left {
	margin-right: auto;
}
.greetmaster-greeting-options-right {
	text-align: right;
	margin-left: auto;
}
.greetmaster-greeting-download-links {
	display: flex;
	gap: 6px;
}
.greetmaster-greeting-download-links > .greetmaster-greeting-options-button:not(:last-child):after {
	content: ',';
}
.greetmaster-greeting-options-caption {
	color: #fffd;
}

/* Editable content */

.greetmaster-editable-content {
	padding: 0 2px;
	display: inline-block;
	box-shadow: 0 0 0 1px;
	cursor: text;
}
.greetmaster-editable-content:focus {
	background-color: #ff05;
	outline: none;
}
.greetmaster-editable-content * {
	cursor: inherit;
}
.greetmaster-editable-mambo-spacer {
	width: 25px;
	display: inline-block;
}
.greetmaster-editable-mambo-break {
	height: 0;
	display: block;
}
.greetmaster-editable-mambo-break + .greetmaster-editable-mambo-break {
	height: 50px;
}

/* Content-specific styles */

#greetmaster-html-container {
	width: 100%;
	font-family: serif;
	font-size: 16px;
	color: #000;
	background-color: #fff;
	padding: 8px;
	box-sizing: border-box;
}
#greetmaster-html-container table {
	color: #000;
}
#greetmaster-html-container #agi-asset {
	text-align: center;
}
#greetmaster-html-container:not(.greetmaster-greeting-hidden)[data-type='CreataMail Template'] {
	min-height: 480px;
	padding: 0;
	overflow: hidden;
}
#greetmaster-html-container:not(.greetmaster-greeting-hidden)[data-type='CreataMail Template'] > div {
	z-index: 0;
	box-sizing: border-box;
}
#greetmaster-html-container:not(.greetmaster-greeting-hidden)[data-type='CreataMail Template'] div:has(> table) {
	box-sizing: border-box;
}
.greetmaster-greeting-min-size:has(#greetmaster-html-container:not(.greetmaster-greeting-hidden)[data-type='Animated Text E-Card']) {
	min-width: 768px !important;
}
#greetmaster-emu-placeholder {
	width: 640px;
	height: 480px;
}
#greetmaster-emu-placeholder canvas {
	width: 640px !important;
	height: 480px !important;
	left: 0 !important;
	top: 0 !important;
}
#greetmaster-emu-placeholder div:not(:has(canvas)) {
	display: none;
}