:root {
	--greetmaster-sidebar-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 7' fill='%23fff'><path d='m0,0l8,0l0,1l-8,0zm0,3l8,0l0,1l-8,0zm0,3l8,0l0,1l-8,0z'/></svg>");
	--greetmaster-expand-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path d='M8,13L2,6H14Z'/></svg>");
	--greetmaster-collapse-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 16 16'><path d='M8,5L2,12H14Z'/></svg>");
	--greetmaster-remove-icon: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 10' fill='%23fff'><path d='m1,2l-1,1l3,3l-3,3l1,1l3,-3l3,3l1,-1l-3,-3l3,-3l-1,-1l-3,3z'/></svg>");
}

/* Navbar */

.greetmaster-header {
	height: 48px;
	background-color: var(--greetmaster-background-color);
	flex-shrink: 0;
	display: flex;
	align-items: center;
}
.greetmaster-header-link {
	height: 100%;
	display: flex;
	align-items: stretch;
}
.greetmaster-header-link a {
	color: var(--greetmaster-text-color);
	padding: 0 12px;
	text-decoration: none;
	align-content: center;
}
.greetmaster-header-link a:hover {
	text-decoration: underline;
}
.greetmaster-header-spacer {
	flex-grow: 1;
}
.greetmaster-sidebar-button {
	width: 28px;
	height: 28px;
	background-image: var(--greetmaster-sidebar-icon);
	background-repeat: no-repeat;
	background-size: 16px 14px;
	background-position: center;
	margin: 1px 0 0 4px;
	border-radius: 50%;
	cursor: pointer;
	user-select: none;
	flex-shrink: 0;
}
.greetmaster-sidebar-button:hover {
	background-color: var(--greetmaster-background-color-2);
}
.greetmaster-logo a {
	font-family: "Times New Roman", serif;
	font-size: 32px;
	padding: 0 6px 2px;
}
.greetmaster-search-container {
	flex-grow: 1;
	width: 100%;
	max-width: 512px;
}
.greetmaster-search-form {
	margin: 0 8px;
	display: flex;
	gap: 1px;
}
.greetmaster-search-box,
.greetmaster-search-submit {
	all: unset;
	background-color: var(--greetmaster-background-color-invert);
	color: var(--greetmaster-text-color-invert);
	box-shadow: inset 0 0 2px 0 var(--greetmaster-background-color);
	box-sizing: border-box;
}
.greetmaster-search-box {
	padding: 4px 6px;
	flex-grow: 1;
}
.greetmaster-search-submit {
	padding: 4px 8px;
	cursor: default;
}
.greetmaster-search-submit:active {
	box-shadow: inset 0 0 2px 1px var(--greetmaster-background-color);
}

/* Sidebar */

.greetmaster-content-container {
	overflow: hidden;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
}
.greetmaster-sidebar {
	width: 288px;
	background-color: var(--greetmaster-background-color);
	overflow-y: auto;
	align-self: stretch;
	flex-shrink: 0;
}
.greetmaster-sidebar-entry {
	padding: 4px 8px;
	cursor: default;
	display: flex;
	align-items: center;
}
a.greetmaster-sidebar-entry {
	color: var(--greetmaster-text-color);
	text-decoration: none;
}
.greetmaster-stat-header,
.greetmaster-stat-entry:hover {
	background-color: var(--greetmaster-background-color-2);
}
.greetmaster-stat-header:hover {
	background-color: var(--greetmaster-background-color-3);
}
.greetmaster-stat-header {
	user-select: none;
}
.greetmaster-sidebar-entry-left {
	overflow-wrap: anywhere;
	white-space: pre-line;
	flex-grow: 1;
}
.greetmaster-sidebar-entry-right {
	margin-left: 8px;
}
.greetmaster-stat-header .greetmaster-sidebar-entry-right {
	width: 14px;
	height: 14px;
}
.greetmaster-stat-entry .greetmaster-sidebar-entry-right {
	opacity: 0.8;
}
.greetmaster-stat-entry-applied .greetmaster-sidebar-entry-left {
	background-image: var(--greetmaster-remove-icon);
	background-repeat: no-repeat;
	background-size: 8px 10px;
	background-position-y: center;
	padding-left: 16px;
}
.greetmaster-content {
	background-color: var(--greetmaster-background-color-4);
	overflow-y: auto;
	flex-grow: 1;
}