				<div class="greetmaster-greeting-container">
					<div class="greetmaster-greeting-content greetmaster-greeting-hidden" id="{STYLE}" data-type="{TYPE}">
{BODY}
					</div>
					<div class="greetmaster-greeting-overlay greetmaster-hidden">Click to open e-card</div>
					<div class="greetmaster-greeting-footer greetmaster-hidden">
						<div class="greetmaster-greeting-footer-button greetmaster-greeting-size-button"></div>
						<div class="greetmaster-greeting-footer-spacer"></div>
					</div>
				</div>