<div class="greetmaster-greeting-container">
	<div class="greetmaster-greeting-content greetmaster-greeting-hidden" id="{STYLE}" data-type="{TYPE}">
		{BODY}
	</div>
	<div class="greetmaster-greeting-overlay greetmaster-hidden">Click to open e-card</div>
</div>
<div class="greetmaster-greeting-options">
	{SIZEBUTTON?<span class="greetmaster-greeting-options-left">
		<span class="greetmaster-greeting-options-button greetmaster-greeting-size-button"></span>
	</span>}
	{LINKS?<span class="greetmaster-greeting-download-links">
		<span class="greetmaster-greeting-options-caption">Downloads:</span>
		{VALUE}
	</span>}
	<span class="greetmaster-greeting-options-right">
		{COPYBUTTON?<span class="greetmaster-greeting-options-button greetmaster-greeting-copy-button">Copy{VALUE} Link</span>}
		{HOMEBUTTON?<a class="greetmaster-greeting-options-button" href="{VALUE}">Go to E-Card Page</a>}
	</span>
</div>