<html>
	<head>
		<title>{TITLE}</title>
		<meta name="description" content="Greetmaster is an online museum of over 30,000 e-cards published from 1995 to 2007.">
		<meta name="keywords" content="ecards, animated greetings, american greetings, blue mountain, egreetings, beatgreets">
		<meta name="author" content="WumboSpasm">
		<meta name="og:title" content="{OGTITLE}">
		<meta name="og:type" content="website">
		<meta name="og:image" content="{OGIMAGE}">
		<meta name="og:url" content="{OGURL}">
		<meta name="og:description" content="Greetmaster is an online museum of over 30,000 e-cards published from 1995 to 2007.">
		{NOINDEX?<meta name="robots" content="noindex">}
		<link rel="stylesheet" href="/global.css">
		{SHOWNAV?<link rel="stylesheet" href="/navigation.css">}
		{PAGECSS?<link rel="stylesheet" href="/{VALUE}">}
		<script src="/global.js"></script>
		{SHOWNAV?<script src="/navigation.js" defer></script>}
		{PAGESCRIPT?<script src="/{VALUE}" type="module"></script>}
		{STYLE}
	</head>
	<body>
		{CONTENT}
	</body>
</html>