<div class="greetmaster-header">
	<div class="greetmaster-sidebar-button"></div>
	<div class="greetmaster-header-link greetmaster-logo"><a href="/">Greetmaster</a></div>
	<div class="greetmaster-search-container">
		<form class="greetmaster-search-form" action="/" method="get">
			<input class="greetmaster-search-box" type="text" name="search" value="{SEARCH}" placeholder="Search e-cards...">
			<input class="greetmaster-search-submit" type="submit" value="Go">
		</form>
	</div>
	<div class="greetmaster-header-spacer"></div>
	<div class="greetmaster-header-link"><a href="/random">Random</a></div>
	<div class="greetmaster-header-link"><a href="/about">About</a></div>
	<div class="greetmaster-header-link"><a href="https://github.com/WumboSpasm/greetmaster">GitHub</a></div>
</div>
<div class="greetmaster-content-container">
	<div class="greetmaster-sidebar"></div>
	<div class="greetmaster-content">
		{CONTENT}
	</div>
</div>