<html>
	<head>
		<title>{TITLE}</title>
		<meta name="description" content="Greetmaster is an online museum of over 30,000 e-cards published from 1995 to 2007.">
		<meta name="keywords" content="ecards, animated greetings, american greetings, blue mountain, egreetings, beatgreets">
		<meta name="author" content="WumboSpasm">
		<meta name="og:title" content="{OGTITLE}">
		<meta name="og:type" content="website">
		<meta name="og:image" content="{OGIMAGE}">
		<meta name="og:url" content="{OGURL}">
		<meta name="og:description" content="Greetmaster is an online museum of over 30,000 e-cards published from 1995 to 2007.">
		{NOINDEX}
		<link rel="stylesheet" href="/main.css">
		<link rel="stylesheet" href="/{NAMESPACE}.css">
		<script src="/global.js"></script>
		<script src="/main.js" defer></script>
		<script src="/{NAMESPACE}.js" type="module"></script>
		{STYLE}
	</head>
	<body>
		<div class="greetmaster-header">
			<div class="greetmaster-sidebar-button"></div>
			<div class="greetmaster-header-link greetmaster-logo"><a href="/">Greetmaster</a></div>
			<div class="greetmaster-search-container">
				<form class="greetmaster-search-form" action="/" method="get">
					<input class="greetmaster-search-box" type="text" name="search" value="{SEARCH}" placeholder="Search e-cards...">
					<input class="greetmaster-search-submit" type="submit" value="Go">
				</form>
			</div>
			<div class="greetmaster-header-spacer"></div>
			<div class="greetmaster-header-link"><a href="/random">Random</a></div>
			<div class="greetmaster-header-link"><a href="/about">About</a></div>
			<div class="greetmaster-header-link"><a href="https://github.com/WumboSpasm/greetmaster">GitHub</a></div>
		</div>
		<div class="greetmaster-content-container">
			<div class="greetmaster-sidebar"></div>
			<div class="greetmaster-content">
				{CONTENT}
			</div>
		</div>
	</body>
</html>